## Exploratory Data Analysis (EDA)

### Import packages

In [2]:
import pandas as pd
from ydata_profiling import ProfileReport
from featurewiz import featurewiz

### Data Ingestion

In [3]:
df=pd.read_csv("../data/Housing.csv")

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7229300521,20141013T000000,231300.0,2,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### Automated EDA Report

In [5]:
profile = ProfileReport(df, title="Housing Price EDA Report")

### Save report to HTML file

In [6]:
profile.to_file("automated_eda_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 21/21 [00:00<00:00, 27.26it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Feature Engineering and Selection

In [7]:
## target variable

target = "price"

In [10]:
features, train = featurewiz(df, target=target, corr_limit=0.9, verbose=2)

############################################################################################
############       F A S T   F E A T U R E  E N G G    A N D    S E L E C T I O N ! ########
# Be judicious with featurewiz. Don't use it to create too many un-interpretable features! #
############################################################################################
featurewiz has selected 0.9 as the correlation limit. Change this limit to fit your needs...
    Skipping feature engineering since no feature_engg input...
Skipping category encoding since no category encoders specified in input...
    Single_Label Regression problem
    Loaded train data. Shape = (21613, 21)
    Single_Label Regression problem
No test data filename given...
Classifying features using a random sample of 10000 rows from dataset...
    Single_Label Regression problem
    loading a sequential sample of 10000 rows into pandas for EDA
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
        1 variable(s) to be removed since ID or low-information variables
    	variables removed = ['date']
train data shape before dropping 1 columns = (21613, 21)
	train data shape after dropping columns = (21613, 20)
Caution: Since there are date-time variables in dataset, it is best to load them using pandas
    Single_Label Regression problem
No GPU active on this device
    Tuning XGBoost using CPU hyper-parameters. This will take time...
Processing yr_built column for date time features....
Removing 1 columns from further processing since ID or low information variables
    After removing redundant variables from further processing, features left = 18
No interactions created for categorical vars since feature engg does not specify it
#######################################################################################
#####  Searching for Uncorrelated List Of Variables (SULOV) in 18 features ############
#######################################################################################
Starting SULOV with 18 features...
Completed SULOV. All 18 features selected
Time taken for SULOV method = 0 seconds
    Adding 0 categorical variables to reduced numeric variables  of 18
Final list of selected 18 vars after SULOV = ['id', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']
Converting all features to numeric before sending to XGBoost...
#######################################################################################
#####    R E C U R S I V E   X G B O O S T : F E A T U R E   S E L E C T I O N  #######
#######################################################################################
    using regular XGBoost
    Taking top 4 features per iteration...
    Number of booster rounds = 100
        Selected: ['grade', 'sqft_living', 'lat', 'long']
            Time taken for regular XGBoost feature selection = 1 seconds
        Selected: ['grade', 'lat', 'sqft_above', 'long']
            Time taken for regular XGBoost feature selection = 1 seconds
        Selected: ['grade', 'lat', 'sqft_above', 'long']
            Time taken for regular XGBoost feature selection = 1 seconds
        Selected: ['sqft_living15', 'lat', 'long', 'sqft_lot15']
            Time taken for regular XGBoost feature selection = 1 seconds
        Selected: ['sqft_living15', 'sqft_lot15']
            Time taken for regular XGBoost feature selection = 0 seconds
    Completed XGBoost feature selection in 3 seconds
#######################################################################################
#####          F E A T U R E   S E L E C T I O N   C O M P L E T E D            #######
#######################################################################################
Selected 7 important features:
['grade', 'sqft_living', 'lat', 'long', 'sqft_above', 'sqft_living15', 'sqft_lot15']
Total Time taken for featurewiz selection = 3 seconds
Output contains a list of 7 important features and a train dataframe